@media screen and (max-width: 600px) {
    .contentmain-right {
        display: none;
    }

    .gallery-show-tabs {
        flex-direction: column;
        margin: 0px 40px;
    }
    
    .tab1-show.gal-tab-show {
        flex-direction: column;
    }
    
    .tab1-show.gal-tab-show > div {
        width: 100%;
    }
    
    .content-block-t-tab1 {
        flex-direction: column;
    }
    
    .content-block-t-tab2 {
        flex-direction: column-reverse;
    }
    
    .content-block-t-tab2 img {
        max-width: 100%;
    }
    
    .content-block-t-tab1 img {
        max-width: 100%;
    }
    
    .gal-tab {
        font-size: 20px !important;
    }
    
    .content-block-title {
        font-size: 45px !important;
    }
    
    .content-block-description {
        font-size: 25px !important;
    }
    
    .gallery-show {
        padding: 0px 0px !important;
    }
    
    .contentmain-left-title {
        font-size: 47px !important;
    }
    
    .contentmain-left-description {
        font-size: 25px !important;
    }
    
    .contentmain-left {
        padding: 0px 40px !important;
    }
    
    a.btn-line {
        font-size: 20px !important;
        padding: 15px 35px;
    }
    
    .content-block-t-tab1-left-title {
        font-size: 35px !important;
    }
    
    .content-block-t-tab1-left-description {
        font-size: 20px !important;
    }
    
    .tab1-show-tabs-description {
        font-size: 25px !important;
    }
    
    .tab1-show-tabs-title {
        font-size: 35px !important;
    }

    .contentmain {
        flex-direction: column-reverse;
        padding: 40px 0px;
    }
    
    .contentmain img {
        max-width: 100%;
    }
    
    .contentmain-right {
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }
    
    .sign {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .spacer.mainmenu_toggle {
        width: calc(100% - 110px);
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    
    .spacer.mainmenu_toggle span {
        width: 25px;
        height: 3px;
        display: flex;
        background: #0000ba;
        margin: 2px;
        margin-left: calc(100% - 30px);
    }
    
    .sign.none {
        display: none;
    }
    
    .menu.none {
        display: none;
    }

    .header{
        flex-wrap: wrap;
    }

}