.gallery-show {
    padding: 20px 40px;

    &-tabs {
        display: flex;
        background: #EBEBEB;
    }
}


.gal-tab {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 500;

    &.chosen {
        background: #0000BA;
        color: #fff;
    }

    &-show {
        display: flex;
    }
}

.gallery-show-gallery {
    padding: 20px 20px;
}

.tab1-show{
    &-image {
        width: 40%;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-image img {
        width: 75%;
        height: auto;
    }

    &-tabs {
        width: 60%;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;

        &-title {
            color: #000;
            font-size: 48px;
            font-weight: 500;
        }

        &-description {
            font-size: 30px;
            color: #4D4D4D;
            font-weight: 500;
        }

        & > div {
            padding: 10px 0px;
        }
    }
}