html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
}

a, a:link, a:active{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'IBM Plex Sans';
    min-height: 100vh;
    width: 100%;
}