.content-block-t-tab1 {
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    margin: 65px 0px;
}

.content-block-t-tab1-left-title {
    color: #000;
    font-size: 48px;
    font-weight: 500;
}

.content-block-t-tab1-left-description {
    font-size: 30px;
    color: #4D4D4D;
    font-weight: 500;
}

.content-block-t-tab1-right > div {
    max-width: 750px;
}

.content-block-t-tab2 {
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
}

.content-block-t-tab2-left-title {
    color: #000;
    font-size: 48px;
    font-weight: 500;
}

.content-block-t-tab2-left-description {
    font-size: 30px;
    color: #4D4D4D;
    font-weight: 500;
}

.content-block-t-tab2-left > div {
    max-width: 750px;
}