@import url("../fonts/IBMPlexSans/font.css");
@import url("../fonts/Imprima/font.css");
html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

a, a:link, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "IBM Plex Sans";
  min-height: 100vh;
  width: 100%;
}

.gallery-show {
  padding: 20px 40px;
}
.gallery-show-tabs {
  display: flex;
  background: #EBEBEB;
}

.gal-tab {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 500;
}
.gal-tab.chosen {
  background: #0000BA;
  color: #fff;
}
.gal-tab-show {
  display: flex;
}

.gallery-show-gallery {
  padding: 20px 20px;
}

.tab1-show-image {
  width: 40%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab1-show-image img {
  width: 75%;
  height: auto;
}
.tab1-show-tabs {
  width: 60%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.tab1-show-tabs-title {
  color: #000;
  font-size: 48px;
  font-weight: 500;
}
.tab1-show-tabs-description {
  font-size: 30px;
  color: #4D4D4D;
  font-weight: 500;
}
.tab1-show-tabs > div {
  padding: 10px 0px;
}

.content-block-t-tab1 {
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  margin: 65px 0px;
}

.content-block-t-tab1-left-title {
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

.content-block-t-tab1-left-description {
  font-size: 30px;
  color: #4D4D4D;
  font-weight: 500;
}

.content-block-t-tab1-right > div {
  max-width: 750px;
}

.content-block-t-tab2 {
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
}

.content-block-t-tab2-left-title {
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

.content-block-t-tab2-left-description {
  font-size: 30px;
  color: #4D4D4D;
  font-weight: 500;
}

.content-block-t-tab2-left > div {
  max-width: 750px;
}

@media screen and (max-width: 600px) {
  .contentmain-right {
    display: none;
  }
  .gallery-show-tabs {
    flex-direction: column;
    margin: 0px 40px;
  }
  .tab1-show.gal-tab-show {
    flex-direction: column;
  }
  .tab1-show.gal-tab-show > div {
    width: 100%;
  }
  .content-block-t-tab1 {
    flex-direction: column;
  }
  .content-block-t-tab2 {
    flex-direction: column-reverse;
  }
  .content-block-t-tab2 img {
    max-width: 100%;
  }
  .content-block-t-tab1 img {
    max-width: 100%;
  }
  .gal-tab {
    font-size: 20px !important;
  }
  .content-block-title {
    font-size: 45px !important;
  }
  .content-block-description {
    font-size: 25px !important;
  }
  .gallery-show {
    padding: 0px 0px !important;
  }
  .contentmain-left-title {
    font-size: 47px !important;
  }
  .contentmain-left-description {
    font-size: 25px !important;
  }
  .contentmain-left {
    padding: 0px 40px !important;
  }
  a.btn-line {
    font-size: 20px !important;
    padding: 15px 35px;
  }
  .content-block-t-tab1-left-title {
    font-size: 35px !important;
  }
  .content-block-t-tab1-left-description {
    font-size: 20px !important;
  }
  .tab1-show-tabs-description {
    font-size: 25px !important;
  }
  .tab1-show-tabs-title {
    font-size: 35px !important;
  }
  .contentmain {
    flex-direction: column-reverse;
    padding: 40px 0px;
  }
  .contentmain img {
    max-width: 100%;
  }
  .contentmain-right {
    width: 100%;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .sign {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .spacer.mainmenu_toggle {
    width: calc(100% - 110px);
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .spacer.mainmenu_toggle span {
    width: 25px;
    height: 3px;
    display: flex;
    background: #0000ba;
    margin: 2px;
    margin-left: calc(100% - 30px);
  }
  .sign.none {
    display: none;
  }
  .menu.none {
    display: none;
  }
  .header {
    flex-wrap: wrap;
  }
}
.content-block {
  min-height: 100vh;
}
.content-block-title {
  font-size: 64px;
  font-weight: 700;
  padding: 0px 40px;
}
.content-block-description {
  padding: 5px 40px;
  font-size: 30px;
  color: #5E5E5E;
  font-weight: 500;
}
.content-block.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 10px 40px;
  width: 100%;
  align-items: center;
  font-family: "Imprima";
}

.spacer {
  flex-grow: 1;
}

.header {
  font-size: 20px;
  color: #747474;
}

.sign > a {
  margin: 0px 5px;
}

.menu__item {
  margin: 0px 20px;
}
.menu__item.on {
  text-decoration: underline;
  color: #0000BA;
}

.sign_up.activated {
  color: #0000BA;
}

.contentmain {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.contentmain-right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.contentmain-left {
  padding-left: 40px;
  max-width: 900px;
  width: 100%;
}
.contentmain-left-title {
  font-size: 64px;
  font-weight: bold;
  padding-bottom: 20px;
}
.contentmain-left-description {
  font-size: 30px;
  font-weight: 500;
  color: #5E5E5E;
  padding-bottom: 20px;
}

.btn-line {
  background: #0000BA;
  font-size: 25px;
  padding: 15px 60px;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 10px 10px 0px 0px #e7e7e7;
}
.btn-line:hover {
  text-decoration: none;
  box-shadow: 20px 20px 0px 0px #e7e7e7;
}/*# sourceMappingURL=main.css.map */