@import 'variables', 'global', 'features', 'teach', 'dimensions';
@import url('../fonts/IBMPlexSans/font.css');
@import url('../fonts/Imprima/font.css');

.content-block {
    min-height: 100vh;

    &-title {
        font-size: 64px;
        font-weight: 700;
        padding: 0px 40px;
    }

    &-description {
        padding: 5px 40px;
        font-size: 30px;
        color: #5E5E5E;
        font-weight: 500;
    }

    &.main {
        display: flex;
        flex-direction: column;
    }
}

.header {
    display: flex;
    padding: 10px 40px;
    width: 100%;
    align-items: center;
    font-family: 'Imprima';
}

.spacer {
    flex-grow: 1;
}

.header {
    font-size: 20px;
    color: #747474;
}

.sign > a {
    margin: 0px 5px;
}

.menu__item {
    margin: 0px 20px;

    &.on {
        text-decoration: underline;
        color: #0000BA;
    }
}

.sign_up.activated {
    color: #0000BA;
}

.contentmain {
    flex-grow: 1;
    display: flex;
    align-items: center;

    &-right {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }

    &-left {
        padding-left: 40px;
        max-width: 900px;
        width: 100%;

        &-title {
            font-size: 64px;
            font-weight: bold;
            padding-bottom: 20px;
        }

        &-description {
            font-size: 30px;
            font-weight: 500;
            color: #5E5E5E;
            padding-bottom: 20px;
        }
    }
}

.btn-line {
    background: #0000BA;
    font-size: 25px;
    padding: 15px 60px;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 10px 10px 0px 0px #e7e7e7;

    &:hover{
        text-decoration: none;
        box-shadow: 20px 20px 0px 0px #e7e7e7;
    }
}