<div class="auth-window">
    <div class="auth-window-in">
        <div class="auth-window-in_left">
            <img src="/assets/images/login-fav.svg" alt="Auth Fav"/>
        </div>
        <div class="auth-window-in_right">
            <div class="auth-window-in_right-logo">
                <img src="/assets/images/grades_icon_s.svg" alt="Grades logo">
            </div>
            <div class="auth-window-in_right-title">Welcome to <color>Grades</color></div>
            <div class="auth-window-in_right-form">
                <input class="auth-window-in_right-form-input form-username" placeholder="Username" type="text"/>
                <input class="auth-window-in_right-form-input form-email" placeholder="enter@your.email" type="email"/>
                <input class="auth-window-in_right-form-input form-password" placeholder="Password" type="password"/>
                <a class="btn-inline auth-window-in_right-form-btn form-auth">Go Next</a>
            </div>
            <div class="auth-window-in_right-divider">
                <div class="divider"></div>
                <div class="divider-text">or Go Next using</div>
                <div class="divider"></div>
            </div>
            <div class="auth-window-in_right-social">
                <div class="auth-window-in_right-social-btn">
                    <div class="auth-window-in_right-social-btn-image">
                        <img src="/assets/images/icons8-google.svg" alt="Google Icon from icons8.com"/>
                    </div>
                    <div class="auth-window-in_right-social-btn-text">
                        Go next with Google
                    </div>
                </div>
                <div class="auth-window-in_right-social-btn">
                    <div class="auth-window-in_right-social-btn-image">
                        <img src="/assets/images/icons8-github.svg" alt="Github Icon from icons8.com"/>
                    </div>
                    <div class="auth-window-in_right-social-btn-text">
                        Go next with Github
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>